.key_visual{
  height: 800px;
  position: relative;
}
.key_visual_title{
  font-size: 50px;
  font-family: 'Source Code Pro';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1006px;
}
.key_visual_subtitle{
  font-size: 24px;
  font-family: 'Delius Unicase';
  color: #bdbdb7;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.key_visual_subtitle::after{
  display: block;
  width: 55px;
  height: 0;
  content: "";
  border-top: 2px solid #0000ff;
  margin: 15px auto 0;
}

.pastime{
  margin-bottom: 70px;
}
.pastime p{
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 959px){
  .key_visual{
    height: 600px;
    position: relative;
  }
  .key_visual_title{
    font-size: 30px;
    width: 604px;
    text-shadow: -1px -1px 3px #fff;
    top: 45%;
  }
  .key_visual_subtitle{
    font-size: 18px;
    top: 55%;
  }
}

@media screen and (max-width:559px){
  .key_visual{
    height: 480px;
  }
  .key_visual_title{
    font-size: 25px;
    width: 300px;
    top: 50%;
    left: 57%;
  }
  .key_visual_subtitle{
    font-size: 16px;
    top: 64%;
  }
}

/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Delius Unicase', cursive; */
